/* all app scss styles here */


.map{
	min-height: 500px;
	width: 100%;
	padding: 0.5em 1em;
	position: relative;
	top: 0;
	left: 0;
}

h1, h2, h3{
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	text-transform: uppercase;
}

p{
	font-family: 'Roboto', 'Helvetica', sans-serif;
}